.navLayout{
    background-color: #220135;
}

.navLayout .navbar-toggler{
    border-color: #4e4b4d;
}

.navbar-toggler{
    background-color: #353134;
}

.navLayout .nav-item .nav-link:hover{
    color: #ecde10;
}